@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,400&display=swap');




* {
    box-sizing: border-box
}

body{
margin: 0px;
overflow-x: hidden;
}

img{
    user-select: none;
}

/* Top bar section */


.logo-search-child{
    display: flex;
    align-items:center;
}

.top-bar{
    width: 100vw;
    height: 5.2vh;
    background-color: #17407b;
    display: flex;
    justify-content: space-around;
}

.top-bar-logo{
    height: 4.6vh;
    border-radius: 50%;
    margin-top: 0.3vh;
    cursor: pointer;
    

}
.search-wrapper{
   margin-left: 10px;
   display: flex;
   background-color: white;
   border-radius: 25px;
   background-color: white;;
}

.search-bar{
    border-radius: 25px;
    /* padding-left: 15px; */
    /* va mari insa continutul */
    /* sau text indent  */
    text-indent: 15px;
    height: 2.9vh;
    border: 0px;
}

.search-bar:focus{
    outline: none;
}

.search-fav-wrapper{
    align-self: center;
}

.search-fav{
    height: 1.8vh;
    margin-right: 0.5vw;
    padding-left: 0.1vw;
    margin-top: 0.1vh;
    cursor: pointer;
}


/* notification- settings - child section */

.notifications-settings-child{
    display: flex;
}


.notification-profile-pic {
    height: 4.6vh;
    margin-top: 0.3vh;
    border-radius: 50%;
}

.notification-panel-pic{
    height: 2.8vh;
    margin-top: 1.2vh;
    margin-left: 0.3vw;
}


/* Main-Wrapper-Section */
.main-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15px;
}


/* Right-Side-Bar-Section */

.right-side-bar{
    position: sticky;
    top: 0px;
-webkit-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
    /* margin-top: 50px;
    margin-left:50px; */
    padding: 1%;
    margin-left: 40px;
}

.ad-img{
    width: 300px;
}

.ad-texts-wrapper{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ad-texts-wrapper p{
margin-left: 10px;
margin-top: 10px;
margin-bottom: 0px;
color: darkgray;
font-family: 'Lato', sans-serif;
cursor: pointer;
}

/* Left-Side-Menu */

.left-side-menu{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
padding: 1%;
}

/* User-Wrapper */

.user-wrapper{
    display: flex;
}

.user-img-left-menu{
    height: 7vh;
    border-radius: 50%;
}

.user-data{
    align-self: center;
    margin-left: 0.5vw;
}



.user-data p{
    margin: 0px;
    font-family: 'Lato', sans-serif; 
}

.user-name{
    font-size: 25px;
    font-weight: 700;
}

.user-title{
    font-weight: 300;
    font-size: 12px;
}

/* Menu-Separator*/

.menu-separator{
    height: 10px;
    width: 300px;
    margin-top: 10px;
}

/* Menu-Wrapper */

.menu-img{
    height: 40px;
    width: 40px;
}

.menu-child{
    display: flex;
    margin-top: 8px;

}

.menu-text{
    align-self: center;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
    cursor: pointer;

}


/* Posts-Wrapper */

/* Post-Container */

.user-img-post{
    height: 85px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

.post-wrapper{
-webkit-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
padding: 2%;
}

.post-container{
    display: flex;
    margin-bottom: 30px;
}

.post-details{
    margin-bottom: 10px;

} 

.post-details-author{
    font-size: 16px;
    font-weight: 700;
}

.post-details-date-location{
    font-size: 13px;
}




.post-details p{
    margin: 0px;
    font-family: 'Lato', sans-serif; 
}


.post-img{
    max-width: 300px;
}

.post-text{
    max-width: 300px;
    text-align: justify;
    text-indent: 10px;
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
}

